.songContainer {
    display: flex;
    flex-direction: row;
}

.songBox {
    flex: 1;
    background: #ab81e0;
    color: #fff;
    border-radius: 10px;
    margin: 200px 200px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

.songBox {
    align-self: center;
}

.songItems {
    font-size: 30px;
    text-align: center;
}

.AddSong {
    padding: 7px;
    color: #9e69df;
    font-weight: bold;
    background: white;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;    
}

.DeleteSong {
    padding: 7px;
    color: white;
    font-weight: bold;
    background: rgb(235, 78, 78);
    width: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
}

.CreatePlaylist {
    padding: 7px;
    color: #9e69df;
    font-weight: bold;
    background: white;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;    
}