.mainContent{
    width: 100%;
    margin-left: 200px;
}

.header{
    padding: 20px;
    font-weight: bold;
    color: white;
}

.songContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 100em;
}